{% extends 'base.html' %} 
{% load static %} 
{% block title %}Listed Product{% endblock title %} 
{% block productactive %} active {% endblock productactive %}

{% block body %}

   <!-- -----------------------------------Product list start----------------------------------- -->
   <div class="container">
    <div class="row gap-3 justify-content-around">
      {% for product in all_products %}
        {% if product.order %}
          
        {% else %}
        
          <div class="card col-3 m-4 cardcss shadow" style="width: 18rem;">
            {% if product.product_image %}
              <img src=" {{ product.image_url|default_if_none:'#' }} " class="card-img-top p-2" alt="..." width="320" height="180">
              {% else %}
              <img src="{% static 'img/product.jpg' %}" alt="Avatar"  class="rounded-circle"  width=75 height=75>
              {% endif %}
              <div class="card-body p-1">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.desc | slice:':100' | safe }}

              <a href=" {% url 'product_details' product.pk %}"><i class="bi bi-eye-fill mr-1"></i>View Product</a>
              </p>
  
              
              </div>
              <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                  Total Available:
                  <span class="text-dark fw-bold">{{ product.total_stocks }}</span>
                  </li>

                  <li class="list-group-item d-flex justify-content-between align-items-center">
                  
                  Price:
                   
    
                  <span class="badge bg-success rounded-pill">₹ {{ product.price }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                  Category:
                  <span class="badge bg-primary rounded-pill">{{product.category}}</span>
                  </li>
              </ul>
              
              <div class="mx-auto">
                  <button type="button" class="btn fw-bold m-2" data-bs-toggle="modal" data-bs-target="#product_{{product.pk}}"style="background-color: #3DD1E7; border:0px">
                    <i class="bi bi-info-circle-fill mr-1" ></i>Info
                  </button>
                  {% if user.is_authenticated %}
                  
                     {% if product.total_stocks is 0 %}
                     <label class="btn btn-dark fw-bold m-2" style="background-color: #405cf5;border:0px">
                      Product Currently Not Available
                     </label>
                     {% else %} 

                     <button type="button" class="btn btn-dark fw-bold m-2" data-bs-toggle="modal" data-bs-target="#productbid_{{product.pk}}" style="background-color: #405cf5;border:0px">
                       Place Order
                      </button>
                      

                    {% endif %}
                  {% else %}
                    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#loginModal" style="background-color: #405cf5;border:0px">
                      Place Order
                    </button>
                    
                  {% endif %}
              </div>

          </div>

          {% endif %}
        {% endfor %}


        

<!-- -----------------------------------Product list end----------------------------------- -->

   <!-- -----------------------------------Order Modal start----------------------------------- -->
   {% for product in all_products %}
   <!-- Modal -->
 
   
   
  
 <!-- -----------------------------------Order Modal end----------------------------------- -->

 <div class="modal fade" id="productbid_{{product.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Confirm Your Order</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <form action='{% url 'place_order' %}' method='post'>
         {% csrf_token %}
         <div class="modal-body">  
            <input type="hidden" class="form-control" value="{{ product.pk }}" id="product_id" name="product_id" placeholder="{{ product.pk }}">
            <label>Total Items: </label>
            <input type="number" onclick=total_price_cal({{product.id}},{{product.price}}) name="items" id="items{{product.id}}" class="form-control" min='1', max={{product.total_stocks}} placeholder="Enter No of Items You Want to Buy">
            <label>Total Price: </label>
            <input type="number" class="form-control" id="total_price{{product.id}}" name="total_price" value=""> 
            
            <script>
              function total_price_cal(id,price){  
              let item=document.getElementById("items"+id).value;
              console.log(item);
              document.getElementById("total_price"+id).value = item *price;
            }
            </script>

            {% if user.user_type == '3' %}
              <label>Employee ID: </label>
              <input type="text" name="emp_id" id="emp_id" class="form-control" placeholder="Employee ID">
              
              <label>Employee Name: </label>
              <input type="text" name="emp_name" id="emp_name" class="form-control" placeholder="Employee Name">
              <div class="form-group">
                <label class="label" for="purpose">Purpose</label>
                <select class="form-select" name="purpose" required>
                    <option selected disabled>Select Purpose</option>
                    <option >Personal Use</option>
                    <option >Company Use</option>
                </select>
            </div>
            {% endif %}
            
            
            <input type="text" name="delivery_address" placeholder="Enter Your delivery address" class="form-control" >         
         </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-success">Confirm</button>
       </div>
     </form>
     </div>
   </div>
 </div>

 <!-- -----------------------------------Product requirement Modal start----------------------------------- -->
   <!-- Modal -->
   <div class="modal fade" id="product_{{product.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Product info</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body mb-5">
           <div class="card m-auto" style="width: 18rem;">
             {% if product.product_image %}
                 <img src=" {{ product.image_url|default_if_none:'#' }} " class="card-img-top p-2" alt="..." width="320" height="180">
                 {% else %}
                 <img src="{% static 'img/product.jpg' %}" alt="Avatar"  class="rounded-circle"  width=75 height=75>
                 {% endif %}
               <div class="card-body ">
                 <h5 class="card-title">{{product.title}}</h5>
                 <p class="card-text"><p class="card-text">{{ product.desc | safe }}</p>
               </div>
             <ul class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center">
               Price:
               <span class="badge bg-success rounded-pill">₹ {{product.price}} </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
               Due Date:
               <span class="badge rounded-pill" style="background-color: #4484ce;">12th Dec 2022</span>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 {% endfor %}


  {% endblock body %}