{% extends 'base.html' %}
{% load static %}
{% block title %} All Order Details {% endblock title %}
{% block body %}
<div class="container my-3">
    <h2>All Orders</h2>

    <table class="table">
        <tbody>
            <thead>
                <tr>
                    <th scope="col">sno</th>
                    <th scope="col">Product</th>
                    <th scope="col">User</th>
                    <th scope="col">User Type</th>
                    <th scope="col">Items</th>
                    <th scope="col">Image</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Order Details</th>
                </tr>
                <tr></tr>
            </thead>
           
            {% for order in all_orders %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{order.product}}</td>
                <td>{{order.user}}</td>
                <td>
                  {% if order.user.user_type == '1' %}
                  Admin
                  {% endif %}
                
                  {% if order.user.user_type == '2' %}
                  Normal User
                  {% endif %}
                
                  {% if order.user.user_type == '3' %}
                  Company User
                  {% endif %}
                </td>
                <td>{{order.items}}</td>
                <td>
                    {% if order.product.product_image %}
                    <img src=" {{ order.product.image_url|default_if_none:'#' }} " class="card-img-top p-2" alt="..." width="200" height="120">
                    {% else %}
                    <img src="{% static 'img/order.jpg' %}" alt="Avatar"  class="rounded-circle"  width=75 height=75>
                    {% endif %}
                </td>

                <td>{{order.total_price}}</td>
                <td>{{order.delivery_address}}</td>
                <td>{{order.emp_id}}</td>
                <td>{{order.emp_name}}</td>
                <td>{{order.purpose}}</td>
                <td>
                    {% if user.user_type == '1' %}
                    {% comment %} If User is Admin {% endcomment %}
                    
                    {{order.orderDetails}}
                    {% comment %} 
                    Need to Implement if orderDetails exsit then display update button
                    else display add button
                    {% endcomment %}
                    <a href="{% url 'view_order_details' order.pk %}" type="button" class="btn btn-outline-primary btn-sm mx-1">View </a>
                    
                    <a href="{% url 'update_order_details' order.pk %}" type="button" class="btn btn-outline-warning btn-sm mx-1">Update</a>
                    
                    <a href="{% url 'add_order_details' order.pk %}" type="button" class="btn btn-outline-success btn-sm mx-1">Add</a>
                    
                   
                    
                    {% else %}

                    {% comment %} User is Not admin {% endcomment %}
                    <a href="{% url 'view_order_details' order.pk %}" type="button" class="btn btn-outline-primary btn-sm mx-1">View </a>
                    
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock body %}